h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    /* Making the font-size responsive. */
    font-size: 3.5vw;
    margin: 10px;
}

/* -- Game Containers -- */

.content {
    /* Creating a flex container. */
    display: flex;
    justify-content: center;
}

.column {
    background-color: #7a000f;
    margin: 3%;
}

.image {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* Hovereffect for the game pictures. */
.image:hover {
    -webkit-filter: grayscale(80%) blur(2px);
    filter: grayscale(80%) blur(2px);
}
