* {
    margin: 0;
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: auto;
}

.front-face {
    border-radius: 5px;
}


/*---Memory Game size---*/
.memory-game {
    width: 940px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

/*---Memory card style---*/
.memory-card {
    width: calc(16% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale();
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

/*---Memory card animation by click---*/
.memory-card.flip {
    transform: rotateY(180deg);
}

/*---Memory card front and back face style---*/
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background: #7a000f;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}


/*--- BUTTONS ---*/

button {
    background-color: #7a000f;
    color: #fff;
}

button:hover {
    background-color: #575756;
    color: white;
}


/* Start Again Button */
#startagain {
    padding: 12px 42px;
    margin: 42px 42px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
