/*--- GENERAL STUFF ---*/

/* main content size & position*/
main {
    max-width: 1000px;
    margin: auto;
}


.paddingTop {
    padding-top: 20px;
}


/*--- SLIDESHOW ---*/
#imgSlides {
    opacity: 0;
    -webkit-transition: opacity 1.0s linear 0s;
    transition: opacity 1.0s linear 0s;
    max-width: 500px;
    position: relative;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    /*rounding off the corners*/
    -moz-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
    object-fit: cover;

    /*img starts at middle position*/
    object-position: 50% 0;
    width: 400px;
    height: 310px;
}
